* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    height: 100%;
}

body{
    display: grid;
    width: 100vw;
    min-height: 100%;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10vh auto 20vh;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    }

h1 {
    text-align: center;
    color: #ff2f63;
    justify-items: center;
    justify-self: center;
    justify-content: center;
}

header {
    grid-area: header;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

main {
    grid-area: main;
    text-align: center;
    display: grid;
}

footer {
    background-color: #222;
    color: white;
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    margin-top: 50px;
}

footer a {
    color: #ff2f63ad;
    text-decoration: none;
}

form {
    margin-top: 7%;
}

input {
    font-size: 22px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #222;
}

input:focus {
    outline: none;
}

article {
    padding: 15px;
    margin: 10px 20%;
    box-shadow: 0px 0px 2px 0px rgba(255, 47, 99,0.75);
    border: 1px solid rgb(255, 47, 99);
    border-radius: 10px;
    transition: transform .10s; /* Animation */
}

article:hover {
    background-color: #222;
    color: white;
    transform: scale(1.1);
}

.done {
    text-decoration: line-through;
}
